.faq-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.faq-container img {
  border-radius: 15px;
}

.accordion-item {
  margin-bottom: 15px;
 
  border-radius: 5px;
  border: 1px solid #eff8ff !important;
  overflow: hidden;
}

.accordion-header {
 padding: 13px 16px;
}

.accordion-body {
  padding: 5px 16px;
}

.accordion-button {
  color: var(--Gray, #7f7f7f) !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

.accordion-body {
    color: var(--Gray, #7F7F7F);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    margin-top: 10px;
}

.activeBtn {
  background-color: #F4F9FD !important;
}

@media screen and (max-width: 1250px) {
  .faq-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .faq-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .accordion-header {
    padding: 10px 14px;
   }
   
   .accordion-body {
     padding: 5px 16px;
   }
}

@media screen and (max-width: 769px) {
  .faq-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

}

@media screen and (max-width: 769px) {
  .faq-container {
    gap: 15px;
  }

  .accordion-header {
    padding: 10px 10px;
    font-size: 16px;
   }
   
   .accordion-body {
     padding: 2px 10px;
     font-size: 12px;
     line-height: 18px;
   }
  
}