.intro-bottom-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}

.intro-text-inner {
  display: flex;
  gap: 20px;
}

.indro-text-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 100px; */

  padding-left: 200px;
}

.intro-desc {
  max-width: 70%;
  color: var(--Gray, #7f7f7f);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.intro-image-1 {
  position: relative;
}

.intro-left-img {
  width: 100%;
  margin-top: 75px;
  border-radius: 15px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.intro-dot-left {
  position: absolute;
  width: 180px;
  height: 180px;
}
.intro-second-img {
  display: flex;
  align-items: center;
  position: relative;
}

.intro-right-img {
  width: 85%;
  height: 650px;
  object-fit: cover;
  margin-left: auto;
  position: relative;
  border-radius: 15px;
  z-index: 2;
}

.intro-dot-right {
  position: absolute;
  z-index: 1;

  width: 250px;
  height: 250px;
  left: 50px;
  bottom: 50px;
}

.indro-text-box h2 {
  color: var(--Black, #333);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.indro-text-box p {
  color: var(--Gray, #7f7f7f);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 25px;
}

@media screen and (max-width: 1690px) {
  .indro-text-box {
    padding-left: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .indro-text-box {
    padding-left: 120px;
  }
}

@media screen and (max-width: 1250px) {
  .indro-text-box {
    padding-left: 40px;
  }
}

@media screen and (max-width: 1080px) {
  .indro-text-box {
    padding-left: 20px;
  }
}

@media screen and (max-width: 792px) {
  .indro-text-box {
    padding-left: 15px;
  }
}
