.contact-us-wrapper {
  /* opacity: 0.7; */
  background: linear-gradient(74deg, #c3d7e8 -26167%, #e1f0fa 40211.12%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.contact-us-wrapper .logos svg {
  width: 2rem;
  aspect-ratio: 1 / 1;
}

.contact-us-wrapper input {
  border-radius: 0.3125rem;
  border: 1px solid #e7e7e7;
  outline: none;
  padding: .5rem .9rem;
}

.contact-us-wrapper textarea {
    border-radius: 0.3125rem;
    border: 1px solid #e7e7e7;
    outline: none;
    padding: .5rem .9rem;
}

.contact-us-wrapper .btn {
    
}

.contact-us-wrapper p {
  font-size: 0.9rem;
  color: var(--Gray, #7f7f7f);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 177.778% */
}

@media screen and (max-width: 1690px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 792px) {
  .contact-us-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 700px) {
}
