.heading-container {
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 240px;
}

.dotted-line {
  border-bottom: 5px dotted #ff2041;
  width: 240px;
  opacity: 0.3;
}

.heading-container h2 {
  color: var(--Red, #ed3237);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-container a {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
