.nav-logo {
  width: 3.5rem;
  aspect-ratio: 1 / 1;
}

.nav-text {
  font-size: 0.8rem;
}

.nav-left p {
  display: inline-block;
  width: 10rem;
}

.nav-right {
  margin: 0;
  padding: 0;
}




.nav-container ul {
  list-style: none;
}

.nav-container a {
    text-decoration: none;
    color: #7F7F7F;
}

.nav-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}