.blog-news-container {
  /* height: 50vh; */
  background-color: #f1f6fa;
  position: relative;
  background-image: url(/public/images/blog-spiral.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.blog-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  height: 400px;
}

.blog-row img {
  border-radius: 15px;
}

.blog-text-box h2 {
  color: var(--Black, #333);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px !important;
}

.blog-text-box p {
  color: var(--Gray, #7f7f7f);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}

.blog-para {
  margin-bottom: 15px;
}

.blog-footer {
  gap: 40px;
}

.blog-footer svg {
  width: 25px;
  height: 25px;
}

.blog-footer small {
  color: var(--Gray, #7f7f7f);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}

.blog-footer div {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 1350px) {
  .blog-row {
    gap: 30px;
    height: 400px;
  }

  .blog-news-container {
    padding: 50px 0;
  }
}

@media screen and (max-width: 850px) {
  .blog-footer small {
    font-size: 15px;
    line-height: 25px;
  }

  .blog-footer div {
    gap: 4px;
  }

  .blog-footer {
    gap: 25px;
  }

  .blog-text-box h2 {
    font-size: 23px;
    margin-bottom: 15px !important;
  }

  .blog-text-box p {
    font-size: 15px;
    line-height: 23px;
  }
}

@media screen and (max-width: 684px) {
  .blog-news-container {
    padding: 15px 0;
  }

  .news-letter .btn-primary {
    padding: 8px 34px;
    font-size: 14px;
  }

  .blog-row {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    height: auto;
  }

  .blog-footer small {
    font-size: 14px;
    line-height: 20px;
  }

  .blog-footer svg {
    width: 16px;
    height: 16px;
  }

  .blog-footer div {
    gap: 4px;
  }

  .blog-footer {
    gap: 25px;
  }

  .blog-text-box h2 {
    font-size: 18px;
    margin-bottom: 10px !important;
  }

  .blog-text-box p {
    font-size: 12px;
    line-height: 18px;
  }
}
