.our-client-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.our-client-cards div {
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  min-height: 100px;
}

.our-client-cards div img {
  max-width: 80%;
  object-fit: contain;
}

@media screen and (max-width: 1018px) {
  .our-client-cards {
    gap: 20px;
  }

  .our-client-cards div {
    padding: 10px 10px;
  }
  
  .our-client-cards div img {
    max-width: 80%;
  }
}

@media screen and (max-width: 700px) {
    .our-client-cards {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
      }
    
      .our-client-cards div {
        padding: 10px 10px;
      }
      
      .our-client-cards div img {
        max-width: 80%;
      }
}

@media screen and (max-width: 500px) {
    .our-client-cards {
        gap: 10px;
      }
    
      .our-client-cards div {
        padding: 10px 10px;
      }
      
      .our-client-cards div img {
        max-width: 80%;
      }
}