.footer-container {
  background-color: #002441;
  /* padding: 4rem; */
  margin-top: 230px;
}

.footer-container-card-wrapper {
  padding-top: 180px !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 170px;
}

.footer-bmsh-logo {
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.footer-logos {
  width: 2rem;
  aspect-ratio: 1 / 1;
}

.news-letter {
  width: 100%;
  /* background-color: red; */
  height: 160px;
  position: absolute;
  top: -80px;
}

.news-letter-box {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  padding: 44px 60px;
}

.news-letter h3 {
  color: var(--Black, #333);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.news-letter input {
  border: none;
  background-color: transparent;
  /* font-size: 18px; */
  font-style: normal;
  font-weight: 500;
  /* line-height: 32px; */
}

.news-letter input:focus {
  outline: none;
}

@media screen and (max-width: 1690px) {
  .footer-container {
    margin-top: 190px;
  }
  .footer-container-card-wrapper {
    padding-top: 135px !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
  }
  .news-letter {
    height: 160px;
    top: -80px;
  }

  .news-letter-box {
    padding: 30px 50px;
  }

  .news-letter h3 {
    font-size: 24px;
  }

  .news-letter input {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  .footer-container-card-wrapper {
    padding-top: 125px !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
  }

  .footer-container {
    margin-top: 180px;
  }
}

@media screen and (max-width: 1250px) {
  .footer-container {
    margin-top: 115px;
  }
  .news-letter {
    height: 120px;
    top: -60px;
  }

  .news-letter-box {
    padding: 20px 40px;
  }

  .news-letter h3 {
    font-size: 22px;
  }

  .news-letter input {
    font-size: 14px;
  }

  .footer-container-card-wrapper {
    padding-top: 125px !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }
}

@media screen and (max-width: 1080px) {
  .footer-container {
    margin-top: 100px;
  }

  .footer-container-card-wrapper {
    padding-top: 125px !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}

@media screen and (max-width: 792px) {
  .footer-container {
    margin-top: 95px;
  }

  .news-letter {
    height: 120px;
    top: -60px;
  }

  .news-letter-box {
    padding: 20px 20px;
  }

  .news-letter h3 {
    font-size: 18px;
  }

  .news-letter input {
    font-size: 14px;
  }

  .footer-container-card-wrapper {
    padding-top: 125px !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 700px) {

  .footer-container {
    margin-top: 135px;
  }

  .news-letter {
    height: auto;
    top: -100px;
  }

  .news-letter-box {
    padding: 20px 20px;
    flex-direction: column;
    align-items: start !important;
  }

  .news-btn {
    flex-direction: column;
    width: 100%;
  }

  .news-btn .btn-primary {
    width: 100% !important;
    padding: 8px 30px;
  }

  .news-btn input {
    border-radius: 63px;
    border: 1px solid #ededed;
    background: #fff;
    padding: 10px 14px;
    font-size: 10px;
  }

  .news-letter h3 {
    font-size: 18px;
  }

  .news-letter input {
    font-size: 14px;
  }

  .footer-container-card-wrapper {
    padding-top: 125px !important;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .footer-text {
    max-width: 257px;
    color: #a4a4a4;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: auto;
  }
}
