@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1920px !important;
  padding: 0 200px;
}

.btn-primary {
  border-radius: 63px;
  background: #ed3237;
  padding: 20px 44px;
  border: none;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body {
  width: 100vw !important;
  overflow-x: hidden;
}

@media screen and (max-width: 1690px) {
  .container {
    padding: 0 150px;
  }


  .btn-primary {
    padding: 15px 34px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 120px;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 0 40px;
  }

  .btn-primary {
    padding: 12px 34px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    padding: 0 20px;
  }

  .btn-primary {
    padding: 12px 34px;
    font-size: 18px;
  }
}

@media screen and (max-width: 792px) {
  .container {
    padding: 0 15px;
  }

  .btn-primary {
    padding: 8px 34px;
    font-size: 14px;
  }
}


@media screen and (max-width: 700px) {
  .container {
    padding: 0 15px;
  }

  .btn-primary {
    padding: 8px 34px;
    font-size: 14px;
  }
}
