@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}
/* @media screen and (min-width: 1750px) { */
  .container {
    max-width: 1920px !important;
    padding: 0 240px;
  }
/* } */

body {
  /* overflow-x: hidden;
  width: 100vw !important; */
}
