.banner-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/public/images/home-banner.jpeg);
  background-size: cover;
  overflow-x: hidden;
}

.moving-text {
  position: absolute;
  white-space: nowrap;
  bottom: 1.5rem;
  font-size: 5rem;
  color: transparent;
  opacity: 0.6;
  font-weight: 700;
  -webkit-text-stroke: 2px #ffffff;
}

.banner-box {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.banner-box h1 {
  color: var(--White, #fff);
  text-align: center;
  font-size: 77px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
}

.banner-box button {
  display: flex;
  padding: 17px 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 70px;
  background: var(--Red, #ed3237);
  border: none;
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-secondary {
  height: 65vh !important;
  background-position: top;
  padding-top: 50px;
}

.banner-secondary-heading {
  color: var(--Red, #ed3237) !important;
}

.banner-secondary p {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -15px;
}

.banner-secondary p:last-child{
  padding-left: 5px;
  color: var(--Red, #ED3237);
}

@media screen and (max-width: 1690px) {
  .banner-box {
    max-width: 1000px;
    gap: 30px;
  }
  .banner-box h1 {
    font-size: 70px;
    line-height: 85px;
  }

  .banner-secondary p {
    font-size: 18px;
    margin-top: -15px;
  }
  
  .banner-secondary p:last-child{
    padding-left: 4px;
  }

  .banner-box button {
    padding: 15px 25px;
    gap: 10px;
    border-radius: 70px;
    font-size: 18px;
    font-weight: 700;
  }

  .moving-text {
    bottom: 0.5rem;
    font-size: 4.5rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 1400px) {
  .banner-box {
    max-width: 1000px;
    gap: 25px;
  }
  .banner-box h1 {
    font-size: 65px;
    line-height: 75px;
  }



  .banner-box button {
    padding: 13px 23px;
    gap: 10px;
    border-radius: 70px;
    font-size: 17px;
    font-weight: 700;
  }

  .banner-box button svg {
    width: 25px !important;
  }

  .moving-text {
    bottom: 5px;
    font-size: 3.7rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 1250px) {
  .banner-box {
    max-width: 1000px;
    gap: 20px;
  }
  .banner-box h1 {
    font-size: 60px;
    line-height: 75px;
  }

  .banner-secondary p {
    font-size: 18px;
    margin-top: -10px;
  }
  
  .banner-secondary p:last-child{
    padding-left: 4px;
  }

  .banner-box button {
    padding: 12px 20px;
    gap: 8px;
    border-radius: 70px;
    font-size: 16px;
    font-weight: 700;
  }

  .banner-box button svg {
    width: 23px !important;
  }

  .moving-text {
    bottom: 5px;
    font-size: 3.7rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 1080px) {
  .banner-box {
    max-width: 80%;
    gap: 10px;
  }
  .banner-box h1 {
    font-size: 55px;
    line-height: 70px;
  }

  .banner-secondary p {
    font-size: 16px;
    margin-top: -10px;
  }
  
  .banner-secondary p:last-child{
    padding-left: 4px;
  }

  .banner-box button {
    padding: 12px 20px;
    gap: 8px;
    border-radius: 70px;
    font-size: 15px;
    font-weight: 700;
  }

  .banner-box button svg {
    width: 20px !important;
  }

  .moving-text {
    bottom: 5px;
    font-size: 3rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 792px) {
  .banner-container {
    height: 65vh;
    padding-top: 40px;
  }
  .banner-box {
    max-width: 80%;
    gap: 20px;
  }
  .banner-box h1 {
    font-size: 35px;
    line-height: normal;
  }

  .banner-secondary p {
    font-size: 15px;
    margin-top: -8px;
  }
  
  .banner-secondary p:last-child{
    padding-left: 4px;
  }

  .banner-box button {
    padding: 8px 20px;
    gap: 8px;
    border-radius: 70px;
    font-size: 14px;
    font-weight: 700;
  }

  .banner-box button svg {
    width: 16px !important;
  }

  .moving-text {
    bottom: 0px;
    font-size: 30px;
    font-weight: 700;
  }
}

@media screen and (max-width: 500px) {
  .banner-container {
    height: 50vh;
    padding-top: 40px;
  }
  .banner-box {
    max-width: 80%;
    gap: 20px;
  }
  .banner-box h1 {
    font-size: 25px;
    line-height: normal;
  }

  .banner-secondary p {
    font-size: 14px;
    margin-top: -15px;
  }
  
  .banner-secondary p:last-child{
    padding-left: 3px;
  }

  .banner-box button {
    padding: 8px 20px;
    gap: 8px;
    border-radius: 70px;
    font-size: 14px;
    font-weight: 700;
  }

  .banner-box button svg {
    width: 16px !important;
  }

  .moving-text {
    bottom: 0px;
    font-size: 30px;
    font-weight: 700;
  }
}
